/* Contenedor del carrusel */
.swiper-container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 20px;
}

.swiper-container h2 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
}

/* Estilos de cada slide */
.swiper-slide {
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-bottom: 10px;
}

.swiper-slide img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.swiper-slide h3 {
  margin: 15px 0 10px;
  font-size: 1 rem;
}

/* Flechas de navegación - bontones redondos */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 60% !important;
  /* ← redondos perfectos */
  background: rgba(12, 0, 182, 0.596) !important;
  backdrop-filter: blur(10px);
  border: 5px solid rgba(255, 255, 255, 0.8) !important;
  transition: all 0.35s ease !important;
  opacity: 0.8;
}

/* Quita la flecha fea por defecto que viene como imagen */
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: bold;
}

/* Hover → cambian de color y se agrandan un poco */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: white !important;
  color: #2100b2 !important;
  transform: scale(1.15) !important;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3) !important;
  opacity: 1;
}

/* Puntos de paginación */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 20px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-pagination-bullet-active {
  width: 20px !important; /* se alarga como barra */
  transform: scale(1);

}

@media (max-width: 500px) {
  .swiper-slide img {
    width: 45%;
    height: 140px;
  }
}