/* --- Página Acerca de --- */
.about-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-right: 30px;
}

.about-section {
    display: grid;
    grid-template-columns: 1fr;           /* móvil: una columna */
    gap: 2rem;
    margin-left: 10px;
    align-items: center;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

.about-text {
    flex: 1;
    text-align: justify;
    margin: 0px 30px 10px 30px;
    line-height: 1.5rem;
}

.about-text h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: left;
}

.about-image {
    max-width: 350px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    justify-self: center;                 /* centra la imagen en móvil */
    width: 100%;
    overflow: hidden;
}

.about-image:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.about-image img {
    width: 100%;
    height: auto;
}

@media (min-width: 801px) {
    .about-section {
        grid-template-columns: 2fr 1fr;    /* dos columnas iguales */
    }
}