/* --- Página Acerca de --- */
p {
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1.5rem;
}
.about-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-right: 30px;
    
}

.about-section {
    display: grid;
    grid-template-columns: 1fr;           /* móvil: una columna */
    gap: 2rem;
    margin-left: 10px;
    align-items: center;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

.about-text {
    flex: 1;
    text-align: justify;
    line-height: 1.5rem;
}

.about-text h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    margin-right: 30px;
    text-align: left;
}

.about-image {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    border-radius: 10px;
    max-width: 380px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    justify-self: center;                 /* centra la imagen en móvil */
    width: 100%;
    overflow: hidden;
}

.about-image:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.about-image img {
    width: 100%;
    height: 100%;
}
@media (min-width: 801px) {
    .about-section {
        grid-template-columns: 2fr 1fr;    /* dos columnas iguales */
    }
}