/* --- Galería --- */
h2 {
    text-align: center;
    font-size: 2rem;
}

.page-section-gallery {
    padding: 1.6rem;
}

.gallery-section h3 {
    font-size: 1.5rem;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.5rem;
    display: inline-block;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
}

.gallery-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10%;
    border: 1px solid black;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.gallery-item img:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}