/* --- Clases --- */
h2 {
    font-size: 2rem;
    text-align: center;
}

.page-section {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}


.specialty-section h3 {
    font-size: 1.7rem;
    border-bottom: 2px solid black;
    display: inline-block;
}

.card-grid-classes {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.card {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1400;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-content {
    padding: 1.5rem;
    flex-grow: 1;
}

.card-content h4 {
    font-size: 1.5rem;
    text-align: center;
}

.card-content p {
    text-align: justify;
}
@media (max-width: 900px) {
    .card-grid-classes {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}
@media (max-width: 650px) {
    .card-grid-classes {
        grid-template-columns: repeat(1, 1fr);
    }
}