h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 1,7rem;
}
.section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #0715d6;
    border-radius: 5px;
}

.question {
    margin-bottom: 10px;
}

.result {
    color: #333;
    margin-top: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}