/* --- Estilo Plantel --- */
.team-section {
    margin-bottom: 3rem;
}
h2 {
    margin-top: 20px;
    text-align: center;
    font-weight: 400px;
}
.team-grid {
    display: grid;
    margin: 30px 30px;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team-card {
    text-align: center;
    border-radius: 10%;
    background: rgba(255, 238, 238, 0.3);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);

}
.team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.team-img-egg {
    width: 90%;
    max-width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 20%;
    border: 1px solid black;
    box-shadow: 0 5px 15px rgba(11, 9, 9, 0.268);
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.team-card-content h3 {
    font-size: 1.4rem;
}

.team-card-content .title {
    color: var(--primary-color);
    font-style: italic;
    text-align: center;
    margin-bottom: 15px;
}
@media (max-width: 1100px) {
    .team-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 800px) {
    .team-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .team-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}